* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body
{
  background: url("../../second_task/assets/background.jpg");

}
.big
{
  background-color: rgba(228, 53, 189, 1)
}
header {
  width: 100%;
  height: 30vh;
  display: block;
  overflow: hidden;
  position: relative;
}
header img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}
header h1 {
  display: inline-block;
  position: relative;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
  color: white;
  font-size: 2.5rem;
}
nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: hsl(300, 100%, 14%);
  display: flex;
  align-items: center;
  justify-content: right;
}
.hamburger-icon {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.hamburger-icon span {
  color: white;
  font-size: 42px;
}

.nav-list {
  position: fixed;
  list-style-type: none;
  background-color:rgba(56, 0, 44, 1);
  border-radius: 10px;
  display: block;
  Padding: 5px;
  left: -240px;
  top: 30vh;
  transform: translateX(-100%);
}
.nav-open {
  position: absolute;
  display: block;
  left: 0px;
  top:0;
  list-style-type: none;
  animation-name: fadein, fadeout;
  animation-duration: 3s, 4s;
  animation-delay: 0s, 10s;
  animation-fill-mode: forwards, forwards;
}
.nav-open:hover
{
  animation-fill-mode: forwards, none;
}
main {
  font-size: 25px;
  width: 80%;
  margin: auto;
  background-color: rgba(56, 0, 44, 1);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 20px black;
}
section {
  display: block;
  background-color: white;
  min-height: 20vh;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#rolam p {
  margin-top: 20px;
}
#kedvenceim ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0px;
}
#kedvenceim h3 {
  margin-bottom: 15px;
}
.flower-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.price-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 0 100px;
}
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(119, 9, 95);
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}
.card:hover
{
  background-color:rgba(56, 0, 44, 1);
  box-shadow: 0 0 5px white;
}
.card h1 {
  font-size: 2rem;
}
.last
{
  border-radius: 0 0 20px 20px;
}
.big li 
{
  background-color: rgb(119, 9, 95);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
}
.big li:hover
{
  background-color:rgba(56, 0, 44, 1);
  box-shadow: 0 0 5px white;
}
.nav-item
{
  margin: 5px;
  background-color: rgb(228, 53, 189);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}
.nav-item a
{
  color: black;
  text-decoration: none;
}
.nav-item:hover
{
  background-color: rgb(119, 9, 95);
  box-shadow: 0 0 5px white;
}

.flower-pictures img
{
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
.flower-pictures img:hover
{
  box-shadow: 0 0 10px white;
}

@keyframes fadein
{
  0% { left: -160px; }
  100% {left: 10px;}
}

@keyframes fadeout
{
  0% {opacity: 1;}
  100% {opacity: 0.3;}
}